

.header__nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.header__list {
  display: flex; 
  justify-content: flex-end;
  width: 90%;
  gap: 20px; 
  list-style: none;
  padding: 0;
  margin: 0;
}


.theme-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

[data-theme='dark']  .theme-button {
  background-color: rgb(207, 202, 202);
  color: #111;
}

[data-theme='light']  .theme-button {
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
}

[data-theme='light']  .theme-button:hover {
  box-shadow: 0 0 20px 5px rgba(23, 25, 26, 0.801);
}

[data-theme='dark']  .theme-button:hover {
  box-shadow: 0 0 20px 5px rgba(234, 236, 236, 0.801);
}

.list__item {
  text-decoration: none;
  margin-left: 10px;
}

a {
  color: #2F93EB;
}

a:hover,
a:focus{
  color: #1966A8;
}

.logout-button {
  color: orange;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
}

.logout-button {
  color: orange;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
}

[data-theme='light'] .logout-button{
  color: black;
}

.logout-button:hover,
.logout-button:focus{
  background-color: rgba(0, 0, 0, 0.1);
  color: #2F93EB;
}